.pong {
    /*Gives the canvas a black background*/
    background-color: black;
    /*Sets position*/
    position: relative;
    left: 20%;
}
// miss leuk als je ook nog een andere kleur bijv erbij doet
